#tmy-search-results {
	margin-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--wp--preset--color--background);
}

code {
	background-color: var(--wp--preset--color--luminous-vivid-amber);
}

.tmy-post-div {
	box-shadow: 0px 6px 20px #0000002f;
	padding: 20px;
	margin-bottom: 20px;
}

.d-none {
	display: none !important;
}

.position-relative {
	position: relative;
}

.tmy-form {
	display: flex;
	justify-content: center;
}

#tmy-search-input {
	padding: 10px;
}

#tmy-search-results-spinner {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 47%;
	font-size: 4rem;
	animation: spin 1s linear infinite;
	margin-top: 10px;
	z-index: 1;
}

#tmy-search-results-spinner span {
	padding-bottom: 9px;
}


.text-center {
	text-align: center;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}